* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Rubik', sans-serif;
}

img {
    width: 150px;
}

a {
    text-decoration: none;
}

ul li {
    list-style: none;
}

.first__container {
    width: 100%;
    min-height: 20vh;
    background-color: #072A6B;
}

.second__container {
    width: 100%;
    min-height: 80vh;
}

.container {
    background-color: #f5f5f5;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 7.5rem;
    text-align: center;
    position: relative;

}

.box__one {
    position: absolute;
    top: -60px;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #ffff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.box__two {
    position: absolute;
    top: -60px;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #FFFF;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.box__three {
    position: absolute;
    top: -60px;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #FFFF;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.box__four {
    position: absolute;
    top: -60px;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #FFFF;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.second--container--box {
    position: relative;
    width: 255px;
    height: 510px;
}

.box__image {
    position: relative;
    width: 170px;
    height: 194px;
    text-align: center;
}

.box__image img {
    position: absolute;
    width: 100%;
    height: 100%;
    bottom: 25px;
    left: 45px;
}

.head {
    font-size: 22px;
    font-weight: 500;
    font-family: 'Rubik', sans-serif;
    color: #1f2933;
}

.para {
    padding: 20px 20px;
    font-size: 15px;
    font-weight: 400;
    font-family: 'Rubik', sans-serif;
    color: #1f2933;
}

.starting {
    font-size: 14px;
    font-weight: 400;
    font-family: 'Rubik', sans-serif;
    color: #728a8b;
}

.price {
    display: flex;
    justify-content: center;
    align-items: center;
}

.price h3 {
    margin-top: 5px;
    font-size: 30px;
    font-weight: 500;
    font-family: 'Rubik', sans-serif;
    color: #0A4040;
}

.price span {
    font-size: 21px;
    font-weight: 400;
    font-family: 'Rubik', sans-serif;
    color: #0A4040;
}

.button {
    margin-top: 30px;
    padding: 14px 55px;
    background-color: #000000;
    display: inline-flex;
    border-radius: 3px;
}

.button a {
    font-size: 15px;
    font-weight: 400;
    font-family: 'Rubik', sans-serif;
    color: #FFF;
    text-transform: uppercase;
}

.button:hover {
    background-color: #40BC3D;
}